@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content"></div>

<button class="btn" id="loadBtn">Load</button>
<button class="btn" id="displayBtn">Show</button>
<button class="btn" id="addUser">Add user</button>
<br />
<button class="btn" id="loadGrBtn">Load group</button>
<button class="btn" id="displayGrBtn">Show group</button>

<input type="text" id="FirstName" />
<input type="text" id="LastName" />


@section scripts{
    <script src='@Url.Content("~/Scripts/helper.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery-1.10.2.js")'></script>
    <script src="Scripts/require.js" data-main="/Scripts/app.js"></script>

}